body{
    background: -webkit-linear-gradient(left top, #48B550 , #27822D);
    background: -o-linear-gradient(bottom right, #48B550, #27822D);
    background: -moz-linear-gradient(bottom right, #48B550, #27822D);
    background: linear-gradient(to bottom right, #48B550 , #27822D);
}

#topbar{
	width: 900px;
	margin: 0 auto;
}

#philHS{
	display: inline-block;
	vertical-align: bottom;
}

#banner{
	display: inline-block;
	text-align: center;
	width: 660px;
	font-family: Comic Sans MS;
	font-size: 32pt;
	font-weight: bold;
	padding-bottom: 85px;
	padding-top: 80px;
	border: double 1px #000000;
	border-radius: 10px;
	background-color: #694525;
}

nav{
	position: fixed;
	bottom: 0;
	width: 900px;
	margin-left: -450px;
	left: 50%;
	text-align: center;
	background-color: #694525;
	border: double 1px #000000;
	border-radius: 10px;
}

#spacenavbar{
	height: 73px;
}

nav ul li{
	display: inline-block;
	list-style: none;
	width: 33%;
	font-family: Comic Sans MS;
	font-weight: bold;
}

nav ul li a{
	text-decoration: none;
	color: #000000;
}

nav ul li a:visited{
	color: #000000;
}

nav ul li a:hover{
	text-decoration: underline;
	color: #8A6FDE;
}

#container{
	width: 700px;
	margin: 0 auto;
	margin-top: 40px;
	font-family: Comic Sans MS;
	border: double 1px #000000;
	border-radius: 10px;
	background-color: #694525;
}

article header{
	font-size: 28pt;
	text-align: center;
}

article p{
	font-size: 20pt;
	text-align: justify;
	margin: 10px;
}

article footer{
	font-size: 6pt;
	text-align: right;
	margin-bottom: 5px;
}